.contact-card {
    width: 450px;
    border: 4px double rgb(245, 73, 73);
    padding: 50px;

}

body {
    color: #6E6E6E;
    background-color: #f7f7f7; 
    font-family: comic sans ms;
    line-height:13px;
    font-size:14px;
    padding: 0p;
    margin: 0px;
    background-image:url(http://thepatternlibrary.com/img/ao.gif); 
    background-attachment: fixed;
    background-repeat: repeat;
}
     